.leftsidebar {
 // width: 250px; /* Increased width for better readability */
  padding: 20px;
  display: flex;
  flex-direction: column;
 

  /* Cloudcash styling */
  .cloudcash-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
 //   padding: 10px;
    background-color: #fff; /* White background for cloudcash */
    border-radius: 10px; /* Rounded corners */
   
  }

  .cloudcash-icon {
    width: 20px; /* Increased icon size */
    margin-right: 15px;
  }

  .cloudcash-text {
    font-size: 18px; /* Larger font size */
    color: #1a1a1a; /* Darker text color */
    font-weight: bold; /* Bold text */
  }

  /* Sidebar items */
  .sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
  }

  .sidebar-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px; /* Add padding for better spacing */

    &:hover {
      background-color: #e5e5e5; /* Lighter background on hover */
    }

    .sidebar-icon {
      width: 25px; /* Adjusted icon size */
      margin-right: 15px;
    }

    .sidebar-text {
      font-size: 16px;
      color: #333;
      transition: color 0.3s;
    }

    &:hover .sidebar-text {
      color: #007bff; /* Highlight text color on hover */
    }
  }

  /* Placend section */
  .placend {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto;
    margin-bottom: 20px;
    margin-right: 50px;
  }

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    margin-bottom: 10px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    max-width: 300px;
  }
}
