.leftsidebar {
  $sidebar-width: 200px;
  $sidebar-padding: 20px;
  $icon-size: 20px;
  $text-color: rgba(15, 66, 100, 1);
  $text-hover-color: #007bff;

  width: $sidebar-width;
  padding: $sidebar-padding;
  display: flex;
  flex-direction: column;

  .cloudcash-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: $sidebar-padding;
    background-color: #fff;
    border-radius: 10px;
    padding: $sidebar-padding;
  }

  .cloudcash-icon {
    width: $icon-size;
    margin-right: $sidebar-padding / 2;
  }

  .cloudcash-text {
    font-size: 18px;
    color: $text-color;
    font-weight: 700;
  }

  .sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: $sidebar-padding;
  }

  .sidebar-item {
    display: flex;
    align-items: center;
    margin-bottom: $sidebar-padding / 2;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: $sidebar-padding / 2;

    &:hover {
      background-color: rgba(240, 247, 255, 1);
    }

    .sidebar-icon {
      width: $icon-size;
      margin-right: $sidebar-padding / 2;
    }

    .sidebar-text {
      font-size: 16px;
      color: #333;
      transition: color 0.3s;
    }

    &:hover .sidebar-text {
      color: $text-hover-color;
    }
  }

  .placend {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto;
    margin-bottom: $sidebar-padding;
    margin-right: $sidebar-padding * 2;
  }

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    margin-bottom: $sidebar-padding / 2;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    max-width: 300px;
  }
}
