.top-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Adjusted alignment */

  .weekly-sumup {
    font-size: 2.5em;
    font-weight: 600;
    color: #404040;
    margin-bottom: 10px;
    margin-top: 0; /* Remove unnecessary margin top */
  }

  .get-summary {
    font-size: 1em;
    color: #aeaeae;
    margin-bottom: 20px;
  }

  .profile-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .profile-name {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
  }

  .profile-role {
    font-size: 1em;
    color: #777;
  }

  .icon-container {
    display: flex;
    gap: 10px;
  }

  img {
    width: 30px;
  }
}

@media screen and (min-width: 768px) {
  .top-section {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
  }

  .get-summary {
    font-size: 1.2em;
  }
}
