.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  .weekly-sumup {
    font-size: 2.5em;
    font-weight: 600;
    color: rgba(64, 64, 64, 1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .get-summary {
    font-size: 1em;
    color: rgba(174, 174, 174, 1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 768px) {
  .top-section {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
  }

  .get-summary {
    font-size: 1.2em;
  }
}
