.center-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.card {
  width: 450px; /* Increase width */
  height: 300px; /* Increase height */
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 28px;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
